* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

.box {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.title-mini {
    font-size: 20px;
}

.form_row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.div_input {
    display: flex;
    flex-direction: column;
}

input,
select,
textarea {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}